{{> head}}



   {{> navbar }}

   <div class="row">
      <div class="col-8">
         <h1>Iron man</h1>
         <p>
            En 2005, la WTC instituyó el Ironman 70.3. 4
            Esta distancia más corta, conocida anteriormente como medio ironman, 
            consiste en 1,9 km de natación, 90 km de ciclismo y 21 km de atletismo. 
            Al igual que la distancia Ironman (completa), la serie 70.3, consiste en un 
            número de competencias calificativas en distintos países, culminando en el campeonato 
            del mundo, con los atletas que más acumularon puntaje en los eventos calificativos.
             El Campeonato del Mundo se lleva a cabo en Las Vegas. Algunas de las carreras 70.3, 
             también entregan puntaje, 
            para los eventos clasificatorios al Ironman de Hawái.
         </p>
      </div>

      <div class="col-4">
         <img src="assets/img/ironman.jpg" class="img-thubnail">
      </div>

   </div>


   {{> footer}}